/* Estilos Gerais */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana;
    font-size: 20px;
    line-height: 1.5em;
}

a {
    text-decoration: none;
}

.bg-color {
    background-color: #87CEEB;
}

.cadastro {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    font-weight: bold;
}

.nav-principal, li, a {
    color: white;
}

/* Estilos Gerais da Tatiana */
