/* Estilos Gerais */

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: snow;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  line-height: 1.5em;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  color: skyblue;
}

a:hover {
 text-decoration: underline;
}

#nav-principal a:link, #nav-principal a:visited {
  color: #FFF;
  padding: 8px 12px;
}

#nav-principal a:hover {
  color: deepskyblue;
  background: #FFF;
  text-decoration: none;
}

.bg-color {
  /* background-image: linear-gradient(white,lightblue); */
  background-color: deepskyblue;
  color: white;
}

.bg-color:hover {
  background-color: skyblue;
}

.cadastro {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  font-weight: bold;
}

.nav-principal,
li,
a {
  color: white;
}

/* Estilos Gerais da Tatiana */

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color:snow;
}

.areaLogin img {
  width: 420px;
}

.login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  margin: 2px;
  padding: 40px;
  border-radius: 5%;
  transform: translate(-50%, -50%);
  border-radius: 15%;
  color: lightblue;
  box-shadow: 10px 10px 40px lightblue;
  gap: 5px;
}

.login-form h2 {
  margin-top: 0;
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin: 10px 0px;
  font-size: 0.85em;
  border: none;
  transition: all linear 160ms;
  outline: none;
}

.login-form button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  color:white;
  background-color: deepskyblue;
  border: none;
  cursor: pointer;
  font-size: 2, 3em;
}

button:hover {
  color: white;
  background-color: skyblue;
}

input:hover {
  background-color: #beeee000;
}

/* Estilos Gerais da Lucas */

h4 {
  margin-left: 70px;
  margin-top: 100px;
  float: left;
}

.btn-2 {
  width: 220px;
  height: 35px;
  color: white;
  background-color: lime;
  border-color: lime;
  border-radius: 5px;
}

.btn-2:hover {
  width: 220px;
  height: 35px;
  color: white;
  background-color: lime;
  border-color: lime;
  border-radius: 5px;
  opacity: 0.7;
  translate: 1px;
}

.btn-2:focus {
  background-color: lime;
  border-color: lime;
}

.btn-3 {
  width: 220px;
  height: 35px;
  color: white;
  background-color: red;
  border-color: red;
  border-radius: 5px;
}

.btn-3:hover {
  width: 220px;
  height: 35px;
  color: white;
  background-color: red;
  border-color: red;
  border-radius: 5px;
  opacity: 0.7;
  translate: 1px;
}

.btn-3:focus {
  background-color: red;
  border-color: red;
}

.linha-vertical {
  height: 545px;
  border-left: 1px solid;
  margin-left: 300px;
}

.centered {
  display: block;
  max-width: 50rem;
  margin: 0 auto;
}
