/* Estilos Gerais */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  line-height: 1.5em;
}

a {
  text-decoration: none;
}

.bg-color {
  background-color: #87ceeb;
}

.cadastro {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  font-weight: bold;
}

.nav-principal,
li,
a {
  color: white;
}

/* Estilos Gerais da Tatiana */

.cadastro {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  font-weight: bold;
}

.nav-principal,
li,
a {
  color: white;
}

/* Estilos Gerais da Lucas */

.btn-2 {
  width: 250px;
  height: 45px;
  color: white;
  background-color: lime;
  border-color: lime;
  border-radius: 5px;
  margin-right: 35px;
  color: white
}

.btn-2:hover {
  width: 235px;
  height: 45px;
  color: white;
  background-color: lime;
  border-color: lime;
  border-radius: 5px;
  margin-right: 35px;
}

.btn-2:focus {
  background-color: lime;
  border-color: lime;
}

.btn-3 {
  width: 250px;
  height: 45px;
  color: white;
  background-color:red;
  border-color:red;
  border-radius: 5px;
  color: white
}

.btn-3:hover {
  width: 235px;
  height: 45px;
  color: white;
  background-color: red;
  border-color: red;
  border-radius: 5px;
}

.btn-3:focus {
  background-color: red;
  border-color: red;
}

.linha-vertical {
  height: 510px;
  border-left: 1px solid;
  margin-left: 300px;
  ;
}

h4 {
  margin-left: 100px;
  margin-top: 100px;
}

h2 {
  margin-left: 90px;
  height: 45px;
}

.centered {
  display: block;
  max-width: 50rem;
  margin: 0 auto;
}
